<html lang="en">
<head>
    <title>Uh oh...</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/404.css" />
    
</head>

<body>
	<div class="container">
	  <div class="box">
	  	<center><a href="/dashboard" id="logo"><img src="/images/logo-black.png"></span></a></center>
	    <h1>404</h1>
	    <h2>The page could not be found</h2>
	    <hr />
	    <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable</p>
	    <p>Please try the following:</p>
	    <ul>
	      <li>If you type the page address in the <strong>Address bar</strong>, make sure that it is spelled correctly.</li>
	      <li>Click the <strong>Back button</strong> to return to your previously visited page</li>
	      <li>If you were linked to this page, contact the administrator and make them aware of this issue.</li>
	    </ul>
	  </div>
	</div>
</body>