<html lang="en">
<head>
	<% include partials/template/head.ejs %>
	<% include partials/template/cssdefaults.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css" />
	<% include partials/template/jsdefaults.ejs %>
	<script type="text/javascript" src="/javascripts/dashboard.js"></script>
</head>
<body>

	<div id="main-container">
		<form action="/note/new" method="POST">
			<input type="submit" value="Submit">
		</form>
		<% include partials/template/header.ejs %>
		<div id="documents-container">
			<div class="section group">
				<% for (var i in notes['docs']) { %>
				<a href="/editor/edit/<%= notes['docs'][i]._id %>"><div class="col span_1_of_3">
					<div class="box">
						<span><%= notes['docs'][i].name %></span><br>
						<span>Created on iPhone</span>
					</div>
					<div class="doc">
					</div>
				</div></a>
				<% } %>
			</div>
			
		</div>
	</div>
</body>
</html>
