<html lang="en">
<head>
	<% include partials/template/head.ejs %>
	<% include partials/template/cssdefaults.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css" />
	<% include partials/template/jsdefaults.ejs %>
	<script type="text/javascript" src="/javascripts/dashboard.js"></script>
</head>
<body>

	<div id="main-container">
		<header>
			<a href="/dashboard" id="logo"><img src="/images/logo-white.png"></span></a>

			<h1 class="account-name"><a href="/logout" class="logout">Log Out</a> | <%= user.username %> </h1>
		</header>
		<div id="documents-container">
			<div class="section group">
				{% for note in notes %}
				<a href="/editor/edit/{{note.id}}"><div class="col span_1_of_3">
					<div class="box">
						<span>{{ note.name }}</span><br>
						<span>Created on iPhone</span>
					</div>
					<div class="doc">
					</div>
				</div></a>
				{% endfor %}
			</div>
			
		</div>
	</div>
</body>
</html>
