<html lang="en">
<head>
    <% include partials/template/head.ejs %>
    <% include partials/template/cssdefaults.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/medium-editor.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/modal.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/themes/default.css" />
    <% include partials/template/jsdefaults.ejs %>
    <script src="/javascripts/medium-editor.js"></script>
    <script src="/javascripts/modal.js"></script>
</head>

<body>
    <div id="main-container">
        <% include partials/template/header.ejs %>
        <div id="document-name" class="editable">Document Name</div>
        <div id="editor-container">
            <div class="editable" id="document-text">Type your text</div>
        </div>

        <div id="save-section">
            <a href="#" class="button">Save</a>
            <a href="#" class="button btn">Share</a>
        </div>

    </div>

    <div class="modal">
        <div class="overlay"></div>
        <div class="modal__contents modal--transition">
            <a class="modal__close" href="#">X</a>
            <h1>Sharing Settings</h1>
            <input onClick="this.setSelectionRange(0, this.value.length)" readonly="readonly" value="<%= shareURL %>">
            <form action="">
                <input type="radio" name="sex" value="male">Private<br>
                <input type="radio" name="sex" value="female">Public
            </form>
        </div>
    </div>


    <script>
    var name = new MediumEditor('#document-name', {
        targetBlank: true,
        placeholder: ''
    });
    var text = new MediumEditor('#document-text', {
        targetBlank: true,
        placeholder: ''
    });
    </script>
</body>
</html>