<html lang="en">
<head>
    <% include partials/template/head.ejs %>
    <% include partials/template/cssdefaults.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor.css" />
    <% include partials/template/jsdefaults.ejs %>
</head>

<body>
<div id="main-container">
    <% include partials/template/header.ejs %>
    
</div>

</body>
</html>