<html lang="en">
<head>
    <% include partials/template/head.ejs %>
    <% include partials/template/cssdefaults.ejs %>
    <% include partials/template/jsdefaults.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/modal.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/0.19.8/quill.snow.css" />
    <script src="/javascripts/editor.js"></script>
    <script src="/javascripts/modal.js"></script>
    <script src="/javascripts/jquery.form.min.js"></script>
</head>

<body>
    <div id="main-container">
        <% include partials/template/header.ejs %>
        <input type='text' id="document-name" placeholder='Document Title'>
        <div id="editor-container">
            <div id="toolbar">
            <span class="ql-format-group">
                <select class="ql-font">
                    <option value="sans-serif">Sans Serif</option>
                    <option value="serif" selected>Serif</option>
                    <option value="monospace">Monospace</option>
                </select>
                <select class="ql-size">
                    <option value="small">Small</option>
                    <option value="normal" selected>Normal</option>
                    <option value="large">Large</option>
                    <option value="huge">Huge</option>
                </select>
            </span>
            <span class="ql-format-group">
                <span class="ql-bold ql-format-button"></span>
                <span class="ql-format-separator"></span>
                <span class="ql-italic ql-format-button"></span>
                <span class="ql-format-separator"></span>
                <span class="ql-underline ql-format-button"></span>
                <span class="ql-format-separator"></span>
                <span class="ql-strike ql-format-button"></span>
            </span>
            <span class="ql-format-group">
                <span class="ql-format-button ql-bullet"></span>
                <span class="ql-format-separator"></span>
                <span class="ql-format-button ql-link"></span>
            </span>
            <span class="ql-format-group">
                <select title="Text Color" class="ql-color">
                    <% include partials/template/rgbcolors.ejs %>
                </select>
                <span class="ql-format-separator">
                    
                </span>
                <select title="Background Color" class="ql-background">
                    <% include partials/template/rgbcolors.ejs %>
                </select>
            </span>
            </div>
            <div id="editor" class="editor">
                
            </div>
        </div>

        <div id="save-section">
            <form id="save-contents-form" action="/edit/<%= doc._id %>/save" method="POST">
                <button class="button">Save</button>
            </form>
            <a href="#" class="button btn">Share</a>
        </div>

    </div>

    <div class="modal">
        <div class="overlay"></div>
        <div class="modal__contents modal--transition">
            <a class="modal__close" href="#">X</a>
            <h1>Sharing Settings</h1>
            <input onClick="this.setSelectionRange(0, this.value.length)" readonly="readonly" value="<%= shareURL %>">
            <form action="">
                <input type="radio" name="sex" value="male">Private<br>
                <input type="radio" name="sex" value="female">Public
            </form>
        </div>
    </div>

    <script src="//cdn.quilljs.com/0.19.8/quill.js"></script>
    <script>
        var editor = new Quill('#editor', {

            modules: {
                'multi-cursor': true,
                'toolbar': { container: '#toolbar' },
                'link-tooltip': true
            },
            theme: 'snow'
        });
        editor.setHTML('<%- doc.contents %>');
  </script>
</body>
</html>