<!DOCTYPE html>
<html ng-app="webApp">
<head>
    <% include partials/template/head.ejs %>
    <% include partials/template/cssdefaults.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</head>
<body >

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="img/cloudant_ibm.png"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home/#/main">Home</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="/api/logout">Logout</a></li>
            </ul>
            <ul class="welcome nav navbar-nav text-primary">
                Welcome <%= user %>!
            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>Welcome to Cloudant-Angular-Nodejs-Express (CANE) with Bootstrap</h2>
                    <p>Star your web-application, from here!</p>
                </div>
            </div>
        </div>

        <div ng-view></div>

        <hr/>
        
    </div>

</body>
</html>