		<header>
			<a href="/dashboard" id="logo"><img src="/images/logo-white.png"></span></a>

			<h1 class="account-name"><a href="/logout" class="logout">Log Out</a> | <%= user.username %> </h1>
		</header>