
#documents-container {
padding: 1em 0em;
padding-left: 60px;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}


.span_1_of_3 {
  width: 300px;
  /*border: 2px solid;*/
}

.col {
  height: 100px;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%; 
  }
  .span_2_of_3 {
    width: 100%; 
  }
  .span_1_of_3 {
    width: 100%;
  }
}

.box{
  width: 250px;
  height: 85px;
  /*overflow: hidden;*/
  border-radius: 3px;
  background: #fff;
  position: absolute;
  cursor: pointer;
  /*border: 1pxolid #FFF8F0;*/
}

.box span{
  font-size: 14px;
  position: absolute;
  top: 48px;
  left: 80px;
  color: #aaa;
  white-space: nowrap;
  display:inline-block; 
  text-overflow:ellipsis;
  overflow:hidden;
  width: 150px;

}

.box span:first-of-type{
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 28px;
  left: 80px;
  color: #333;
}

.box:hover{
  background: #FFFCF8;
}

.doc{
  width: 53px;
  height: 70px;
  background: #2295E1;
  border-radius: 3px;
  position: relative;
  left: 14px;
  top: 10px;
  box-shadow: inset 8px 0 0 #2295E1,
              inset -8px 0 0 #2295E1,
              inset 0 12px 0 #2295E1,
              inset 0 16px 0 rgba(255,255,255,0.8),
              inset 0 27px 0 #2295E1,
              inset 0 31px 0 rgba(255,255,255,0.8),
              inset 0 42px 0 #2295E1,
              inset 0 46px 0 rgba(255,255,255,0.8),
              inset 0 56px 0 #2295E1,
              inset 0 60px 0 rgba(255,255,255,0.8);
              
}

.doc:before{
  content: '';
  position: absolute;
  top: -2px;
  right: -3px;
  width: 0px;
  height: 0px;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
  border-top: 25px solid #fff;
}

.doc:after{
  content: '';
  position: absolute;
  top: -20px;
  right: 0px;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #197EBD;
}


.spinner {
  z-index: 10;
  width: 40px;
  height: 40px;
  top: -75px;
  left: 120px;
  position: relative;
  margin: 100px auto;
  display: inline-block;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}