body {
  margin: 0;
  font-family: "Lato", serif;
  -webkit-font-smoothing: antialiased;
  background: url("/images/furley_bg.png") repeat center center;
  background-attachment: fixed;
}

a {
	text-decoration: none;
	color: white;
}

header {
  background-color: #672F00;
  display: block;
  height: 70px;
}

.account-name{
	margin-left: 20px;
	color: white;
	float: right;
	margin-top: 21px;
	font-size: 20px;
	margin-right: 30px;
}

.company-name{
	float: left;
	margin-left: 25px;
	margin-top: 12px;
}

h1{
	text-align: center;
  font-weight: 400;
}

#main-container {
  width: 1024px;
  margin: 0 auto;
}

#documents-container {
padding: 1em 0em;
padding-left: 60px;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}


.span_1_of_3 {
  width: 300px;
  /*border: 2px solid;*/
}

.col {
  height: 100px;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%; 
  }
  .span_2_of_3 {
    width: 100%; 
  }
  .span_1_of_3 {
    width: 100%;
  }
}

#logo {
/*  position: fixed;
*/  z-index: 10000000;
}

#logo > img {
  height: 50px;
  position: relative;
  top: 13px;
  left: 2em;
}

.box{
  width: 250px;
  height: 85px;
  overflow: hidden;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  cursor: pointer;
  /*border: 1pxolid #FFF8F0;*/
}

.box span{
  font-size: 14px;
  position: absolute;
  top: 48px;
  left: 80px;
  color: #aaa;
  white-space: nowrap;
  display:inline-block; 
  text-overflow:ellipsis;
  overflow:hidden;
  width: 150px;

}

.box span:first-of-type{
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 28px;
  left: 80px;
  color: #333;
}

.box:hover{
  background: #FFFCF8;
}

.doc{
  width: 53px;
  height: 70px;
  background: #2295E1;
  border-radius: 3px;
  position: relative;
  left: 14px;
  top: 10px;
  box-shadow: inset 8px 0 0 #2295E1,
              inset -8px 0 0 #2295E1,
              inset 0 12px 0 #2295E1,
              inset 0 16px 0 rgba(255,255,255,0.8),
              inset 0 27px 0 #2295E1,
              inset 0 31px 0 rgba(255,255,255,0.8),
              inset 0 42px 0 #2295E1,
              inset 0 46px 0 rgba(255,255,255,0.8),
              inset 0 56px 0 #2295E1,
              inset 0 60px 0 rgba(255,255,255,0.8);
              
}

.doc:before{
  content: '';
  position: absolute;
  top: -2px;
  right: -3px;
  width: 0px;
  height: 0px;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
  border-top: 25px solid #fff;
}

.doc:after{
  content: '';
  position: absolute;
  top: -20px;
  right: 0px;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #197EBD;
}

