#document-name {
	margin-top: 2em;
	font-weight: bold;
	font-size: 1.5em;
}

#editor {
	background-color: white;
	border: solid 1px #cccccc;

}

#toolbar {
	background-color: white;
	border: solid 1px #cccccc;
	margin-bottom: 10px;
}


#editor-container {
	margin-top: 2em;	
	margin-bottom: 1em;
}



#save-section .button {
	padding: 10px;
	color: black;
	background-color: #abcdef;
}